body {
  background-color: #fefdf9;
  padding: 28px 16px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: transparent 1px auto;
}

.image-container img {
  width: 100%;
  height: 100%;
}
